<footer>
    <div class="contact">
        <div>
            <h3>Get in touch:
                <a href="mailto:caticaneto@gmail.com" title="Send me an email">catiacneto@gmail.com</a>
            </h3>
            <p>Portfolio available upon request.</p>
        </div>
        <ul>
            <li>
                <a href="https://www.linkedin.com/in/catianeto/" target="_blank" title="Go to my linkedin profile" class="card-button">
                    <p class="button-text">Connect on linkedin</p>
                    <img src="assets/imgs/icon-offsite.svg" alt="arrow icon">
                </a>
            </li>
            <li>
                <a href="https://www.behance.net/catianeto" target="_blank" title="Go to my behance page" class="card-button">
                    <p class="button-text">Follow on behance</p>
                    <img src="assets/imgs/icon-offsite.svg" alt="arrow icon">
                </a>
            </li>
        </ul>
    </div>
    <figure class="back2top-container">
        <a href="#section-about" title="Back to top" class="back2top">
            <img class="back2top-img" src="assets/imgs/icon-back2top-arrow.svg" alt="arrow icon to navigate back to top of page">
        </a>
    </figure>
</footer>