<nav>
    <h2>Hi!</h2>
    <ul class="navwraper">
        <li class="nav-item"><a href="/" title="Go to homepage">Home</a></li>
        <li class="nav-item"><a href="/about/" title="Learn about me">About me</a></li>
        <li class="nav-item"><a href="/work/" title="See my work">Work</a></li>
    </ul>
    <figure>
        <a href="https://www.behance.net/catianeto" target="_blank" title="Go to my behance page">
            <img src="assets/imgs/icon-behance-solo.svg" alt="behance icon" class="behance">
        </a>
    </figure>  
</nav> -->