    <div class="home-work-card">
      <a href="{{ site.baseurl }}/portfolio/project-3.html">
        <img class="work-card-img" src="{{ site.baseurl }}/assets/img/edp_ChangingTomorrowNow.jpg" alt="View of the annual report spread">
      </a>
      <div class="work-card-content">
        <h3>Changing Tomorrow Now</h3>
        <p>Visual identity and graphic design for all touchpoints of the EDP Group 2020 annual report.</p>
      </div>
    </div>
  
    <div class="home-work-card">
      <a href="{{ site.baseurl }}/portfolio/project-2.html">
        <img class="work-card-img" src="{{ site.baseurl }}/assets/img/5GCLF_executiva.jpg" alt="Coimbra Viva logo applied on uv varnish on a black card">
      </a>
      <div class="work-card-content">
        <h3>Women in Leadership</h3>
        <p>Visual identity for the 2019 edition of the conference on women in leadership Executiva hosts every year.</p>
      </div>
    </div>
  
    <div class="home-work-card">
      <a href="{{ site.baseurl }}/portfolio/project-1.html">
        <img class="work-card-img" src="{{ site.baseurl }}/assets/img/CoimbraViva.jpg" alt="Coimbra Viva logo applied on uv varnish on a black card">
      </a>
      <div class="work-card-content">
        <h3>Coimbra Viva – City Legacy</h3>
        <p>Branding project for a real estate fund that aims to recuperate downtown Coimbra.</p>
      </div>
    </div>