

<div class="home-work-card">
  <a href="{{ site.baseurl }}/portfolio/b-a-alumni.html">
    <img class="work-card-img" src="{{ site.baseurl }}/assets/img/b-a-alumni.jpg" alt="View of the alumni website on ipad">
  </a>
  <div class="work-card-content">
    <h4>b-a Alumni Comunnity</h4>
    <p>A new website and community for former Fine Arts Faculty students.</p>
  </div>
</div>
  
<div class="home-work-card">
  <a href="{{ site.baseurl }}/portfolio/tomorrow-now.html">
    <img class="work-card-img" src="{{ site.baseurl }}/assets/img/edp_ChangingTomorrowNow.jpg" alt="View of the annual report spread">
  </a>
  <div class="work-card-content">
    <h4>Changing Tomorrow Now</h4>
    <p>Visual identity and graphic design for all touchpoints of the EDP Group 2020 annual report.</p>
  </div>
</div>
    
<div class="home-work-card">
        <a href="{{ site.baseurl }}/portfolio/women-leadership.html">
          <img class="work-card-img" src="{{ site.baseurl }}/assets/img/5GCLF_executiva.jpg" alt="Coimbra Viva logo applied on uv varnish on a black card">
        </a>
        <div class="work-card-content">
          <h4>Women in Leadership</h4>
          <p>Visual identity for the 2019 edition of the conference on women in leadership Executiva hosts every year.</p>
        </div>
</div>
    
<div class="home-work-card">
        <a href="{{ site.baseurl }}/portfolio/coimbra-viva.html">
          <img class="work-card-img" src="{{ site.baseurl }}/assets/img/CoimbraViva.jpg" alt="Coimbra Viva logo applied on uv varnish on a black card">
        </a>
        <div class="work-card-content">
          <h4>Coimbra Viva – City Legacy</h4>
          <p>Branding project for a real estate fund that aims to recuperate downtown Coimbra.</p>
        </div>
</div>  


