/* about me */

.about-wrapper {
   display: grid; 
   grid-template-columns: 3fr 2fr;
   gap: $spacing-unit;
}

.about-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: $round-corners;
}

.about-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;

    h4 {
        color: $brand-color;
    }
}

.about-subtitle {
    margin-top: $spacing-unit / 2;
    margin-bottom: $spacing-unit / 2;
    line-height: $base-line-height * 0.8;
}

/* CV */
.skills-education {
    margin-top: $spacing-unit *2;
    width: 100%;
}

.se-contentwrap {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: $spacing-unit * 2;
    padding: 0;
}

.skillswrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    border-top: solid  1px $brand-color;

    h5 {
        font-weight: $bold-font-weight;
        color: $brand-color;
    }

    P {
        margin-bottom: $spacing-unit * 0.3;
    }
}

.cv-card {
    margin-top: $spacing-unit / 0.8;
}

@include media-query($on-laptop) {

    .se-contentwrap {
        display: flex;
        flex-wrap: wrap;
    }

    .about-wrapper {
        display: flex;
        flex-wrap: wrap;
    } 
}
