/* about me */

.about-wrap {
    width: 100%;
    position: relative;
    height: 500px;
}

.about-img {
    width:100%;
    height:100%;
    object-fit:cover;
    position: absolute;
    top: 0;
    left: 0;
}

.about-content {
    margin-top: $spacing-unit * 1.5;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.about-subtitle {
    margin-top: $spacing-unit / 2;
    margin-bottom: $spacing-unit / 2;
    color: $text-color;
}




/* CV */

.skills-education {
    margin-top: $spacing-unit *2;
    width: 100%;
}

.se-contentwrap {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: $spacing-unit * 2;
    padding: 0;
}

.skillswrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    border-top: solid  1px $brand-color;

    h4 {
        color: $brand-color;
    }

    P {
        margin-bottom: $spacing-unit * 0.3;
    }
}

.cv-card {
    margin-top: $spacing-unit / 0.8;
}



@include media-query($on-laptop) {

    .se-contentwrap {
        display: flex;
        flex-wrap: wrap;
    }
}

