/* Reset some basic elements */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}



/* Basic styling */
body {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  color: $text-color;
  background-color: $background-color;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
     -moz-font-feature-settings: "kern" 1;
       -o-font-feature-settings: "kern" 1;
          font-feature-settings: "kern" 1;
  font-kerning: normal;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}


/* Set `margin-bottom` to maintain vertical rhythm */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit / 10;
}



/* `main` element */
main {
  display: block; /* Default value of `display` of `main` element is 'inline' in IE 11. */
}



/* Images */
img {
  max-width: 100%;
  vertical-align: middle;
}



/* Figures */

figure {
  margin: 0;
  padding: 0;
}

figure > img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}



/* Lists */

ul, ol {
  margin: 0;
  list-style: none;
  padding: 0;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}



/* Headings */
h1 {
  font-weight: $bold-font-weight;
  color: $text-color;
}

h2, h5, h6 {
  font-weight: $base-font-weight;
  color: $text-color;
}

h3, h4 {
  font-weight: $medium-font-weight;
  color: $text-color;
}

/* Links */
a {
  color: $brand-color;
  text-decoration: none;

  &:visited {
    color: $brand-color;
  }

  &:hover {
    color: $brand-color;
    text-decoration: none;
    transition: $hover-fade;
  }

  &:active {
    color: $brand-color;
    text-decoration: none;
  }

  .social-media-list &:hover {
    text-decoration: none;
  }
}

/* Wrapper */
.wrapper {
  max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
  max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;
  @extend %clearfix;

  @include media-query($on-laptop) {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
    max-width:         calc(#{$content-width} - (#{$spacing-unit}));
    padding-right: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
  }
}



/* Clearfix */
%clearfix:after {
  content: "";
  display: table;
  clear: both;
}


/* Icons */
.svg-icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    fill: #{$grey-color};
    vertical-align: text-top;
}

.social-media-list {
  li + li {
    padding-top: 5px;
  }
}

/* chips/tags */
.chip {
  padding: 6px 12px;
  border-radius: $round-corners;
  background-color: $background-color;
  filter: $dropshadow-small;

  h5 {
      font-weight: $bold-font-weight;
      color: $brand-color;
      margin-bottom: 0;
      line-height: $base-line-height * 0.8;
  }
}

.icon-btn {
  padding: 4px;
  border-radius: $round-corners;
  background-color: $background-color;

  &:not(:last-child) {
    margin-right: 10px;
  }
}
