
.hero {
    width: 100%;
    position: relative;
    height: 350px;
}

.hero-title {
    width: 80%;
    position: absolute;
    left: 0;
    top: 65%;
    transform: translateY(-50%);
}

.hero-title h3 {
  color: $brand-color;
  margin-top: $spacing-unit / 2;
}

.home-h {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
   
  h1 {
    font-size: $base-font-size * 2.8;
  }
}

.cates {
  display: flex;
  flex-direction: row;
  margin: 0;
  gap: 6px;
  
  a {
    padding: 0 8px;
    border: 2px solid $brand-color;
    border-radius: $round-corners;
  }
  a:hover {
    padding: 0 8px;
    background-color: $brand-color;
    text-decoration: none;
    color: $background-color;
    border-radius: $round-corners;

  }
 
}

@include media-query($on-laptop) {
  .hero {
    height: 450px;
  }
  .hero-title {
    width: 100%;
  }
  .home-h h1 {
    margin: 0;
    line-height: $base-line-height * 0.8;
  }
}

@include media-query($on-palm) {
  .hero {
    height: 450px;
  }
  .hero-title {
    width: 100%;
  }
  .home-h {
    display: flex;
    flex-direction: column;
    gap: 0;
    
    h1 {
      font-size: $base-font-size * 2;
      line-height: $base-line-height * 0.8;
  }
  }
}


/* services */ 
.services {
  margin-top: $spacing-unit * 3;
  margin-bottom: $spacing-unit;
}
.services-wrapper{
  display: flex;
  justify-content: space-between;
  margin-top: $spacing-unit;
  gap: 4px;
}

.service-card {
  display: flex;
  flex-direction: row;
  gap: $spacing-unit;
  align-items: left;

  h4 {
    font-weight: $bold-font-weight;
  }

}

.service-img {
  background-color: $background-color;
  width: 100px;
  height: 100px;
  margin-bottom: $spacing-unit / 2;
  border-radius: 8px;
  filter: $dropshadow-small;
}

@include media-query($on-laptop) {

  .services-wrapper {
      display: flex;
      flex-wrap: wrap;
  }
}

