
.hero {
  width: 100%;
  position: relative;
  height: 350px;
  border-bottom: 1px dotted $brand-color;
}

.hero-title {
  width: 75%;
  position: absolute;
  left: 0;
  top: 60%;
  transform: translateY(-50%);
}

.hero-title h3 {
  color: $brand-color;
  margin-top: $spacing-unit / 2;
}

.home-h {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
   
  h1 {
    font-size: $base-font-size * 2.7;
  }
}

.cates {
  display: flex;
  flex-direction: row;
  margin: 0;
  gap: 10px;
  
  a {
    padding: 0 10px;
    border: 1px solid $brand-color;
    border-radius: $round-corners;
    background-color: $background-color;
    filter: $dropshadow-small;
  }
  a:hover {
    padding: 0 10px;
    background-color: $brand-color;
    text-decoration: none;
    color: $background-color;
    border-radius: $round-corners;
    transition: $hover-fade;
  }
 
}

@include media-query($on-laptop) {
  .hero {
    height: 450px;
  }
  .hero-title {
    width: 100%;
  }
  .home-h h1 {
    margin: 0;
    line-height: $base-line-height * 0.8;
  }
}

@include media-query($on-palm) {
  .hero {
    height: 450px;
  }
  .hero-title {
    width: 100%;
  }
  .home-h {
    display: flex;
    flex-direction: column;
    gap: 0;
    
    h1 {
      font-size: $base-font-size * 2;
      line-height: $base-line-height * 0.8;
    }
  }
}


/* services */ 
.services {
  margin-top: $spacing-unit * 3;
  margin-bottom: $spacing-unit * 3;
}
.services-wrapper{
  display: flex;
  justify-content: space-between;
  margin-top: $spacing-unit;
}

.service-card {
  display: flex;
  flex-direction: row;
  gap: $spacing-unit;
  margin-bottom: $spacing-unit / 2;

  h4 {
    font-weight: $bold-font-weight;
  }

  p {
    font-size: $small-font-size;
  }

}

.service-img {
  background-color: $background-color;
  width: 100px;
  height: 100px;
  border-radius: $round-corners;
  filter: $dropshadow-small;
}

.service-content {
  width: 59.71%;
  padding-left: 4px;
}

@include media-query($on-laptop) {

  .services-wrapper {
    display: flex;
    flex-wrap: wrap;
  }
}

