/* homepage */
.home-work {
    margin-top: $spacing-unit * 2;
    margin-bottom: $spacing-unit * 2; 
    display: flex;
    flex-direction: column;
    gap: $spacing-unit;
}

.home-work-wrapper {
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    overflow: auto;
}

.home-work-wrapper .home-work-card {
    width: $content-width;
}

/* work page */
.work-page {
    display: flex;
    flex-direction: column;
    gap: $spacing-unit;
}

.work-page-wrapper {
    display: grid;
    grid-template-columns: 2fr 2fr; 
    grid-template-rows: 2fr 2fr;   
    gap: $spacing-unit;
}

@include media-query($on-laptop) {
    .work-page-wrapper {
        display: flex;
        flex-wrap: wrap;
    }
}

.archive {
    margin-top: $spacing-unit * 3;
    padding: $spacing-unit 0;
    border-top: $divider;

    h4 {
        margin-bottom: 12px;
    }
}

.archive-li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: $divider;
    align-items: center;
    padding: 6px;

    &:hover {
        background-color: $brand-color-light;
        text-decoration: none;
    }

}
 
/* work cards */ 
.home-work-card {
    width: 100%;
    position: relative;
    height: 400px;
    background-color: $brand-color;
    border-radius: $round-corners;
    filter: $dropshadow-small;
    overflow: hidden;
}


.work-card-content {
    margin-left: $spacing-unit;
    margin-right: $spacing-unit;
    width: 89%;
    position: absolute;
    left: 0;
    top: 75%;
    border-top: 1px dotted white;
    padding-top: 8px;
  
    h4 {
      font-weight: $bold-font-weight;
      line-height: $base-line-height * 0.8;
      color: white;
      margin-bottom: 6px;
    }
    
    p {
      color: white;
      font-size: $small-font-size;
    }
}
  
.work-card-img {
    width: 100%;
    height: 400px;
    object-fit:cover;
    text-align: center;
    margin: auto;
    border-radius: $round-corners;
    transition: 0.3s;

    &:hover {
        filter: opacity(20%);
        transform: scale(1.02);
        transition: $hover-fade;
    }

}


  // .home-work-card::after{
  //   content: '';
  //   position: absolute;
  //   left: 0; top: 0;
  //   width: 100%; height: 100%;
  //   background-image: linear-gradient(to top, rgba(0,0,0,0.6), rgba(0,0,0,0));
  //   z-index: 1;
  //   border-radius: $round-corners;
  // }
  
  // .home-work-card > * {
  //   z-index: 2;
  // }
  


/* project page */

.work-hero {
    width: 100%;
    height: 450px;
    position: relative;
}
.work-hero-img {
    width:100%;
    height:100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: $round-corners;
}

.work-description {
    margin: $spacing-unit * 4 0;
    display: grid;
    grid-template-columns: 1fr 2fr;    
    gap: $spacing-unit;
}

.gallery {
    text-align: right;
}

.carousel {
    margin-top: $spacing-unit / 2;
    width: 100%;
    height: 450px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    overflow: auto;
    border-radius: $round-corners;
    // scrollbar-width: thin;
    // scrollbar-color: $brand-color;
}

.gallery-img {
    width:100%;
    height:100%;
    object-fit: cover;
    border-radius: $round-corners;
}

@include media-query($on-palm) {

    .carousel {
        height: 320px;
    }

    .work-hero {
        height: 320px;
    }

    .work-description {
        display: flex;
        flex-wrap: wrap;
        margin: $spacing-unit 0;
    }
}
