/* work */

.work-page {
    display: flex;
    flex-direction: column;
    gap: $spacing-unit
}

.work-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}


/* work */ 
.home-work {
    margin-top: $spacing-unit;
    margin-bottom: $spacing-unit * 2;
  }
  
  .home-work-card {
    width: 100%;
    position: relative;
    height: 400px;
    margin-top: $spacing-unit;
    background-color: $brand-color;
    border-radius: $round-corners;
    filter: $dropshadow;
  }
  
  .work-card-content {
    margin-left: $spacing-unit;
    margin-right: $spacing-unit;
    width: 80%;
    position: absolute;
    left: 0;
    bottom: $spacing-unit / 2;
    border-top: 1px solid white;
    padding-top: 8px;
  
    h3 {
      font-weight: $medium-font-weight;
      color: white;
      margin-bottom: 0;
    }
    
    p {
      color: white;
      font-size: $small-font-size;
    }
  }
  
  .work-card-img {
    width: 100%;
    height: 400px;
    object-fit:cover;
    text-align: center;
    margin: auto;
    border-radius: $round-corners;
  }
  
  // .home-work-card::after{
  //   content: '';
  //   position: absolute;
  //   left: 0; top: 0;
  //   width: 100%; height: 100%;
  //   background-image: linear-gradient(to top, rgba(0,0,0,0.6), rgba(0,0,0,0));
  //   z-index: 1;
  //   border-radius: $round-corners;
  // }
  
  // .home-work-card > * {
  //   z-index: 2;
  // }
  
  .work-card-img:hover {
    filter: opacity(20%);
  }
  