/* footer contacts */

footer {
    margin-left: 6%;
    margin-right: 6%;
    margin-bottom: 32px;
    position: relative;
    height: 230px;
}

.contact {
    display: flex;
    flex-direction: column;
    gap: 24px;
    position: absolute;
    left: 0;
}

.social {
    margin-bottom: 32px;
}

.back2top-container {
    position: absolute;
    bottom: 0;
}

.back2top {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    display: flex;
    align-items: center;  
    background-color: #EBE8FD;
}  

.back2top-img {
    margin: 0 auto;
}

.back2top:hover {
    background-color: $brandlight-color;
    box-shadow: 4px 8px 8px #e6e4fe;
}

@media (min-width: 300px) {
    footer {
        height: 250px;
    }
}

@media (min-width: 700px) {
    .back2top-container {
        margin: 0;
        right: 0;
        top: 0;
    }

    footer {
        height: 120px;
    }
}