/**
 * Reset some basic elements
 */
 body, h1, h2, h3, h4, h5, h6,
 p, blockquote, pre, hr,
 dl, dd, ol, ul, figure {
   margin: 0;
   padding: 0;
 }
 
 
 /* Basic styling */
 
 * {
   box-sizing: border-box;
 }
 
 html {
   scroll-behavior: smooth;
 }
 
 body {
  margin: 0;
  padding: 0;
 }
 
 
 // /* `main` element */
 main {
   display: block; /* Default value of `display` of `main` element is 'inline' in IE 11. */
 }
 
 
 /* Images */
 img {
   max-width: 100%;
   vertical-align: middle;
 }
 
 /* Figures */
 figure {
   margin: 0;
   padding: 0;
 }
 
 figure > img {
   display: block;
 }
 
 figcaption {
   font-size: $small-font-size;
 }
 
 
 /* Lists */
 
 ul, ol {
   list-style: none;
   padding: 0;
   margin: 0;
 }
 
 
 li {
   > ul,
   > ol {
     margin-bottom: 0;
   }
 }
 
 
 /* headings */
 
 h1 {
   font-family: 'Poppins', Arial, Helvetica, sans-serif;
   font-weight: 700;
   font-size: 2.75rem;
   line-height: 4rem;
   color: $text-color;
 }
 
 h2 {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 2rem;
  color: $text-color;
 }
 
 h3 {
   font-family: 'Poppins', Arial, Helvetica, sans-serif;
   font-weight: 600;
   font-size: 1.15rem;
   line-height: 1.5rem;
   color: $text-color;
 }
 
 h4 {
   font-family: 'Poppins', Arial, Helvetica, sans-serif;
   font-weight: 700;
   font-size: 1rem;
   line-height: 1.75rem;
   color: $text-color;
 }
 
 p {
     font-family: 'Poppins', Arial, Helvetica, sans-serif;
     font-weight: 400;
     font-size: 1rem;
     line-height: 1.5rem;
     color: $text-color;
 }
 
 
 /* Links */
  a:link {
   text-decoration: none;
   color: $brand-color;
 }
 
 a:visited {
   text-decoration: none;
 }
 
 a:hover {
   color: $brand-color;
   text-decoration: underline;
 }
 
 a:active {
   color: $brand-color;
   text-decoration: underline;
 }
 